In [1]:
# 판다스 라이브러리
import pandas as pd

# 데이터 불러오기
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [13]:
#---------------------------------------
# EDA
#---------------------------------------
# 데이터 샘플
# train.head()
# train.tail(n)
# train.sample(n)
# # 데이터 크기
# train.shape, test.shape
# # 자료형 (타입)
# train.info()
# # 수치형 컬럼 통계값 확인(train)
# train.describe()
# # 수치형 컬럼 통계값 확인(test)
# test.describe()
# # 범주형 컬럼 통계값 확인 (train)
# train.describe(include='O')
# # 범주형 컬럼 통계값 확인 (test)
# test.describe(include='object')
# # 결측치 (train)
# train.isnull().sum()
# # 결측치 (test)
# test.isnull().sum()
# # label(target)별 개수 확인
# train['Exited'].value_counts()

In [ ]:
#---------------
#데이터 전처리
#----------------
#결측치 처리
# 이상치

# train.descibe()

In [2]:
y_train = train.pop('Exited')

In [3]:
train.shape , test.shape

((165034, 13), (110023, 13))

In [9]:
#레이블 인코딩

In [10]:
from sklearn.preprocessing import LabelEncoder
cols = train.columns[train.dtypes == object]
for col in cols:
    le = LabelEncoder()
    train[col] = le.fit_transform(train[col])
    test[col] = le.transform(test[col])

test

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,0,0,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,0,0,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,0,0,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,0,1,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,1,1,38.0,10,121263.62,1,1.0,0.0,139431.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110018,275052,15662091,P'eng,570,2,1,29.0,7,116099.82,1,1.0,1.0,148087.62
110019,275053,15774133,Cox,575,0,0,36.0,4,178032.53,1,1.0,1.0,42181.68
110020,275054,15728456,Ch'iu,712,0,1,31.0,2,0.00,2,1.0,0.0,16287.38
110021,275055,15687541,Yegorova,709,0,0,32.0,3,0.00,1,1.0,1.0,158816.58
110022,275056,15663942,Tuan,621,0,0,37.0,7,87848.39,1,1.0,0.0,24210.56