In [ ]:
#----------------
# 2. 라이브러리 가져오기
#------------------

In [5]:
import pandas as pd

train = pd.read_csv("./train.csv")
test = pd.read_csv("./test.csv")

In [4]:
# test

In [ ]:
#--------------
# EDA
#--------------

In [8]:
train.head()
train.tail()
train.sample(5)

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Monthly_Balance,Credit_Score,Credit_Mix,...,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
427,13.0,0.0,0.0,29.411201,222.0,No,116.378592,511.421075,2,Good,...,27.0,43319.96,3.0,7.0,3.0,0.0,3777.996667,3.47,572.17,0.000000
5970,48.0,24.0,13.0,24.372083,152.0,Yes,26.685174,336.498677,2,Bad,...,35.0,19466.45,8.0,10.0,19.0,8.0,1899.204167,29.07,3368.01,66.736566
1198,11.0,6.0,1.0,23.265767,302.0,No,407.852794,124.064095,2,Good,...,44.0,38899.92,3.0,2.0,1.0,4.0,3459.660000,1.54,1460.16,104.049111
6495,25.0,19.0,5.0,38.291532,163.0,NM,58.521960,302.217003,1,Standard,...,17.0,15169.51,3.0,7.0,12.0,4.0,1038.125833,12.14,1179.95,33.073620
8838,45.0,23.0,9.0,36.983109,241.0,Yes,57.017340,399.563717,1,Bad,...,27.0,38378.18,7.0,10.0,34.0,5.0,3057.181667,16.98,2056.14,99.137109